body {
	padding-bottom: 20px;
	background-color: white;
}

.canvas-stage {
	background-color: gray;
	padding-top: 15px;
	padding-bottom: 15px;
}

@font-face{
	font-family:'Norvrandt';
	src:url('https://gelehrtecrest.github.io/norvrandt-font/fonts/Norvrandt-Regular.woff') format('woff');
}
#result{
	background-color: lightgray;
	font-family:'Norvrandt';
}

#preview {
	width: 100%;
}